Installation (if said no module)

In [ ]:
!pip install pandas
!pip install numpy

In [12]:
import numpy as np
import pandas as pd

# Import Dataset

In [23]:
data = pd.read_csv('\AI_Assignment\heart_disease.csv')
data

<>:1: SyntaxWarning: invalid escape sequence '\A'
<>:1: SyntaxWarning: invalid escape sequence '\A'
C:\Users\hongx\AppData\Local\Temp\ipykernel_28116\1780512103.py:1: SyntaxWarning: invalid escape sequence '\A'
  data = pd.read_csv('\AI_Assignment\heart_disease.csv')

,Age,Gender,Blood Pressure,Cholesterol Level,Exercise Habits,Smoking,Family Heart Disease,Diabetes,BMI,High Blood Pressure,...,High LDL Cholesterol,Alcohol Consumption,Stress Level,Sleep Hours,Sugar Consumption,Triglyceride Level,Fasting Blood Sugar,CRP Level,Homocysteine Level,Heart Disease Status
0,56.0,Male,153.0,155.0,High,Yes,Yes,No,24.991591,Yes,...,No,High,Medium,7.633228,Medium,342.0,NaN,12.969246,12.387250,No
1,69.0,Female,146.0,286.0,High,No,Yes,Yes,25.221799,No,...,No,Medium,High,8.744034,Medium,133.0,157.0,9.355389,19.298875,No
2,46.0,Male,126.0,216.0,Low,No,No,No,29.855447,No,...,Yes,Low,Low,4.440440,Low,393.0,92.0,12.709873,11.230926,No
3,32.0,Female,122.0,293.0,High,Yes,Yes,No,24.130477,Yes,...,Yes,Low,High,5.249405,High,293.0,94.0,12.509046,5.961958,No
4,60.0,Male,166.0,242.0,Low,Yes,Yes,Yes,20.486289,Yes,...,No,Low,High,7.030971,High,263.0,154.0,10.381259,8.153887,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,25.0,Female,136.0,243.0,Medium,Yes,No,No,18.788791,Yes,...,Yes,Medium,High,6.834954,Medium,343.0,133.0,3.588814,19.132004,Yes
9996,38.0,Male,172.0,154.0,Medium,No,No,No,31.856801,Yes,...,Yes,NaN,High,8.247784,Low,377.0,83.0,2.658267,9.715709,Yes
9997,73.0,Male,152.0,201.0,High,Yes,No,Yes,26.899911,No,...,Yes,NaN,Low,4.436762,Low,248.0,88.0,4.408867,9.492429,Yes
9998,23.0,Male,142.0,299.0,Low,Yes,No,Yes,34.964026,Yes,...,Yes,Medium,High,8.526329,Medium,113.0,153.0,7.215634,11.873486,Yes
9999,38.0,Female,128.0,193.0,Medium,Yes,Yes,Yes,25.111295,No,...,Yes,High,Medium,5.659394,High,121.0,149.0,14.387810,6.208531,Yes

# Data Analysis

## Data Transformation

Column: Gender  <br>
0 -> Female <br>
1 -> Male   <br>
<br>
Column: Exercise Habits <br>
0 -> Low    <br>
1 -> Medium <br>
2 -> High   <br>
<br>
Column: Smoking <br>
0 -> No <br>
1 -> Yes<br>
<br>
Column: Family Heart Disease<br>
0 -> No <br>
1 -> Yes<br>
<br>
Column: Diabetes    <br>
0 -> No <br>
1 -> Yes<br>
<br>
Column: High Blood Pressure <br>
0 -> No <br>
1 -> Yes<br>
<br>
Column: Low HDL Cholesterol <br>
0 -> No <br>
1 -> Yes<br>
<br>
Column: High LDL Cholesterol<br>
0 -> No <br>
1 -> Yes<br>
<br>
Column: Alcohol Consumption <br>
0 -> Low    <br>
1 -> Medium <br>
2 -> High   <br>
<br>
Column: Stress Level    <br>
0 -> Low    <br>
1 -> Medium <br>
2 -> High   <br>
<br>
Column: Sugar Consumption   <br>
0 -> Low    <br>
1 -> Medium <br>
2 -> High   <br>
<br>
Column: Heart Disease Status<br>
0 -> No <br>
1 -> Yes<br>

In [14]:
data['Gender'] = data['Gender'].map({'Male': 1, 'Female': 0})
data['Exercise Habits'] = data['Exercise Habits'].map({'Low': 0, 'Medium': 1, 'High': 2})
data['Smoking'] = data['Smoking'].map({'No': 0, 'Yes': 1})
data['Family Heart Disease'] = data['Family Heart Disease'].map({'No': 0, 'Yes': 1})
data['Diabetes'] = data['Diabetes'].map({'No': 0, 'Yes': 1})
data['High Blood Pressure'] = data['High Blood Pressure'].map({'No': 0, 'Yes': 1})
data['Low HDL Cholesterol'] = data['Low HDL Cholesterol'].map({'No': 0, 'Yes': 1})
data['High LDL Cholesterol'] = data['High LDL Cholesterol'].map({'No': 0, 'Yes': 1})
data['Alcohol Consumption'] = data['Alcohol Consumption'].map({'Low': 0, 'Medium': 1, 'High': 2})
data['Stress Level'] = data['Stress Level'].map({'Low': 0, 'Medium': 1, 'High': 2})
data['Sugar Consumption'] = data['Sugar Consumption'].map({'Low': 0, 'Medium': 1, 'High': 2})
data['Heart Disease Status'] = data['Heart Disease Status'].map({'No': 0, 'Yes': 1})

## Drop Missing Value Row

In [27]:
# to check for missing values
data.isnull().sum()

Age                       29
Gender                    19
Blood Pressure            19
Cholesterol Level         30
Exercise Habits           25
Smoking                   25
Family Heart Disease      21
Diabetes                  30
BMI                       22
High Blood Pressure       26
Low HDL Cholesterol       25
High LDL Cholesterol      26
Alcohol Consumption     2586
Stress Level              22
Sleep Hours               25
Sugar Consumption         30
Triglyceride Level        26
Fasting Blood Sugar       22
CRP Level                 26
Homocysteine Level        20
Heart Disease Status       0
dtype: int64

In [29]:
# to find rows with missing values
missing_rows = data[data.isnull().any(axis=1)]
missing_rows.shape

(2933, 21)

In [30]:
# drop missing row
data = data.dropna()
data

,Age,Gender,Blood Pressure,Cholesterol Level,Exercise Habits,Smoking,Family Heart Disease,Diabetes,BMI,High Blood Pressure,...,High LDL Cholesterol,Alcohol Consumption,Stress Level,Sleep Hours,Sugar Consumption,Triglyceride Level,Fasting Blood Sugar,CRP Level,Homocysteine Level,Heart Disease Status
1,69.0,Female,146.0,286.0,High,No,Yes,Yes,25.221799,No,...,No,Medium,High,8.744034,Medium,133.0,157.0,9.355389,19.298875,No
2,46.0,Male,126.0,216.0,Low,No,No,No,29.855447,No,...,Yes,Low,Low,4.440440,Low,393.0,92.0,12.709873,11.230926,No
3,32.0,Female,122.0,293.0,High,Yes,Yes,No,24.130477,Yes,...,Yes,Low,High,5.249405,High,293.0,94.0,12.509046,5.961958,No
4,60.0,Male,166.0,242.0,Low,Yes,Yes,Yes,20.486289,Yes,...,No,Low,High,7.030971,High,263.0,154.0,10.381259,8.153887,No
5,25.0,Male,152.0,257.0,Low,Yes,No,No,28.144681,No,...,No,Low,Medium,5.504876,Low,126.0,91.0,4.297575,10.815983,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9992,68.0,Female,169.0,291.0,Medium,Yes,No,No,22.839718,No,...,No,Medium,Low,6.057509,High,299.0,142.0,3.321020,11.910244,Yes
9994,73.0,Female,144.0,191.0,Medium,Yes,Yes,Yes,39.459620,No,...,No,Medium,Low,7.549114,Medium,200.0,88.0,1.154904,8.021732,Yes
9995,25.0,Female,136.0,243.0,Medium,Yes,No,No,18.788791,Yes,...,Yes,Medium,High,6.834954,Medium,343.0,133.0,3.588814,19.132004,Yes
9998,23.0,Male,142.0,299.0,Low,Yes,No,Yes,34.964026,Yes,...,Yes,Medium,High,8.526329,Medium,113.0,153.0,7.215634,11.873486,Yes
9999,38.0,Female,128.0,193.0,Medium,Yes,Yes,Yes,25.111295,No,...,Yes,High,Medium,5.659394,High,121.0,149.0,14.387810,6.208531,Yes

In [31]:
# to check for missing values again
data.isnull().sum()

Age                     0
Gender                  0
Blood Pressure          0
Cholesterol Level       0
Exercise Habits         0
Smoking                 0
Family Heart Disease    0
Diabetes                0
BMI                     0
High Blood Pressure     0
Low HDL Cholesterol     0
High LDL Cholesterol    0
Alcohol Consumption     0
Stress Level            0
Sleep Hours             0
Sugar Consumption       0
Triglyceride Level      0
Fasting Blood Sugar     0
CRP Level               0
Homocysteine Level      0
Heart Disease Status    0
dtype: int64

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7067 entries, 1 to 9999
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   7067 non-null   float64
 1   Gender                7067 non-null   object
 2   Blood Pressure        7067 non-null   float64
 3   Cholesterol Level     7067 non-null   float64
 4   Exercise Habits       7067 non-null   object
 5   Smoking               7067 non-null   object
 6   Family Heart Disease  7067 non-null   object
 7   Diabetes              7067 non-null   object
 8   BMI                   7067 non-null   float64
 9   High Blood Pressure   7067 non-null   object
 10  Low HDL Cholesterol   7067 non-null   object
 11  High LDL Cholesterol  7067 non-null   object
 12  Alcohol Consumption   7067 non-null   object
 13  Stress Level          7067 non-null   object
 14  Sleep Hours           7067 non-null   float64
 15  Sugar Consumption     7067 non-null   object
 16  Triglyceride Level    7067 non-null   float64
 17  Fasting Blood Sugar   7067 non-null   float64
 18  CRP Level             7067 non-null   float64
 19  Homocysteine Level    7067 non-null   float64
 20  Heart Disease Status  7067 non-null   object
dtypes: float64(9), object(12)
memory usage: 1.2+ MB

In [22]:
data.describe()

,Age,Gender,Blood Pressure,Cholesterol Level,Exercise Habits,Smoking,Family Heart Disease,Diabetes,BMI,High Blood Pressure,...,High LDL Cholesterol,Alcohol Consumption,Stress Level,Sleep Hours,Sugar Consumption,Triglyceride Level,Fasting Blood Sugar,CRP Level,Homocysteine Level,Heart Disease Status
count,7067.000000,7067.000000,7067.000000,7067.000000,7067.000000,7067.000000,7067.000000,7067.000000,7067.000000,7067.000000,...,7067.000000,7067.000000,7067.000000,7067.000000,7067.000000,7067.000000,7067.000000,7067.000000,7067.000000,7067.000000
mean,49.301542,0.504316,149.856092,224.722938,1.013443,0.514221,0.499080,0.497524,29.023933,0.503891,...,0.489458,0.990661,0.998302,6.982595,0.996604,250.523136,119.966605,7.448118,12.444451,0.203056
std,18.270030,0.500017,17.606064,43.529500,0.818146,0.499833,0.500035,0.500029,6.276510,0.500020,...,0.499924,0.813433,0.811743,1.749378,0.822648,87.051480,23.612628,4.358898,4.311619,0.402303
min,18.000000,0.000000,120.000000,150.000000,0.000000,0.000000,0.000000,0.000000,18.007058,0.000000,...,0.000000,0.000000,0.000000,4.000605,0.000000,100.000000,80.000000,0.010585,5.002810,0.000000
25%,34.000000,0.000000,134.000000,187.000000,0.000000,0.000000,0.000000,0.000000,23.633185,0.000000,...,0.000000,0.000000,0.000000,5.459460,0.000000,176.000000,99.000000,3.629919,8.723192,0.000000
50%,49.000000,1.000000,150.000000,224.000000,1.000000,1.000000,0.000000,0.000000,29.046381,1.000000,...,0.000000,1.000000,1.000000,6.982377,1.000000,250.000000,120.000000,7.445087,12.428130,0.000000
75%,65.000000,1.000000,166.000000,262.000000,2.000000,1.000000,1.000000,1.000000,34.402934,1.000000,...,1.000000,2.000000,2.000000,8.519562,2.000000,326.000000,141.000000,11.209659,16.100166,0.000000
max,80.000000,1.000000,180.000000,300.000000,2.000000,1.000000,1.000000,1.000000,39.996954,1.000000,...,1.000000,2.000000,2.000000,9.999952,2.000000,400.000000,160.000000,14.997087,19.999037,1.000000